//Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//Variables
@import "variables";
//Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome";

.search-dropdown-menu{
  left: auto !important;
}

.margin-0{
  margin: 0 !important;
}

.photo-mini{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.photo-mini-search{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.highlight{
  background-color:orange;
}